apache-beam==2.60.0 ; python_version >= "3.9" and python_version < "4.0"
argon2-cffi-bindings==21.2.0 ; python_version >= "3.9" and python_version < "4.0"
argon2-cffi==23.1.0 ; python_version >= "3.9" and python_version < "4.0"
async-timeout==5.0.1 ; python_version >= "3.9" and python_full_version < "3.11.3"
attrs==24.3.0 ; python_version >= "3.9" and python_version < "4.0"
boto3==1.26.0 ; python_version >= "3.9" and python_version < "4.0"
botocore==1.29.165 ; python_version >= "3.9" and python_version < "4.0"
certifi==2024.12.14 ; python_version >= "3.9" and python_version < "4.0"
cffi==1.17.1 ; python_version >= "3.9" and python_version < "4.0"
charset-normalizer==3.4.1 ; python_version >= "3.9" and python_version < "4.0"
cloudpickle==2.2.1 ; python_version >= "3.9" and python_version < "4.0"
crcmod==1.7 ; python_version >= "3.9" and python_version < "4.0"
dill==0.3.1.1 ; python_version >= "3.9" and python_version < "4.0"
dnspython==2.7.0 ; python_version >= "3.9" and python_version < "4.0"
docopt==0.6.2 ; python_version >= "3.9" and python_version < "4.0"
fastavro==1.10.0 ; python_version >= "3.9" and python_version < "4.0"
fasteners==0.19 ; python_version >= "3.9" and python_version < "4.0"
grpcio==1.65.5 ; python_version >= "3.9" and python_version < "4.0"
hdfs==2.7.3 ; python_version >= "3.9" and python_version < "4.0"
httplib2==0.22.0 ; python_version >= "3.9" and python_version < "4.0"
idna==3.10 ; python_version >= "3.9" and python_version < "4.0"
jmespath==1.0.1 ; python_version >= "3.9" and python_version < "4.0"
jsonpickle==3.4.2 ; python_version >= "3.9" and python_version < "4.0"
jsonschema-specifications==2024.10.1 ; python_version >= "3.9" and python_version < "4.0"
jsonschema==4.23.0 ; python_version >= "3.9" and python_version < "4.0"
minio==7.2.14 ; python_version >= "3.9" and python_version < "4.0"
numpy==1.26.4 ; python_version >= "3.9" and python_version < "4.0"
objsize==0.7.0 ; python_version >= "3.9" and python_version < "4.0"
orjson==3.10.14 ; python_version >= "3.9" and python_version < "4.0"
packaging==24.2 ; python_version >= "3.9" and python_version < "4.0"
pandas==2.2.3 ; python_version >= "3.9" and python_version < "4.0"
proto-plus==1.25.0 ; python_version >= "3.9" and python_version < "4.0"
protobuf==4.25.5 ; python_version >= "3.9" and python_version < "4.0"
pyarrow-hotfix==0.6 ; python_version >= "3.9" and python_version < "4.0"
pyarrow==16.1.0 ; python_version >= "3.9" and python_version < "4.0"
pycparser==2.22 ; python_version >= "3.9" and python_version < "4.0"
pycryptodome==3.21.0 ; python_version >= "3.9" and python_version < "4.0"
pydot==1.4.2 ; python_version >= "3.9" and python_version < "4.0"
pymongo==4.10.1 ; python_version >= "3.9" and python_version < "4.0"
pyparsing==3.2.1 ; python_version >= "3.9" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.9" and python_version < "4.0"
pytz==2024.2 ; python_version >= "3.9" and python_version < "4.0"
redis==5.2.1 ; python_version >= "3.9" and python_version < "4.0"
referencing==0.35.1 ; python_version >= "3.9" and python_version < "4.0"
regex==2024.11.6 ; python_version >= "3.9" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.9" and python_version < "4.0"
rpds-py==0.22.3 ; python_version >= "3.9" and python_version < "4.0"
s3transfer==0.6.2 ; python_version >= "3.9" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.9" and python_version < "4.0"
typing-extensions==4.12.2 ; python_version >= "3.9" and python_version < "4.0"
tzdata==2024.2 ; python_version >= "3.9" and python_version < "4.0"
urllib3==1.26.20 ; python_version >= "3.9" and python_version < "4.0"
zstandard==0.23.0 ; python_version >= "3.9" and python_version < "4.0"
